
{% if meeiros %}

{% for meeiro in meeiros %}
<form id="{{meeiro.id}}" method="post" action="/meeiros/update">
    <div class="form-group">
        <table>
            <td><input class="form-control" type="text" name="name" disabled value="{{meeiro.name}}"></td>
            <td><input class="form-control" type="text" name="cpf" disabled value="{{meeiro.cpf}}"></td>
            <td><input class="form-control" type="text" name="rg" disabled value="{{meeiro.rg}}"></td>
            <input class="form-control" type="hidden" name="id" value="{{meeiro.id}}" >
            <td>
                <button class="form-control" type="button" id="editarMeeiro" onclick="habilitar('{{meeiro.id}}')">Editar</button>
                <button class="form-control" type="submit">Salvar</button>
            </td>
        </table>
    </div>
</form>
{% endfor %}
{% else %}
    <h2>Nenhum meeiro cadastrado</h2>
{% endif %}

<script>
    function habilitar(form_id) {
        $("#" +form_id + " :input").attr("disabled", false);
    };
</script>