

<h2>Inserir novo lançamento</h2>

<pre>
  <form action="/entries/insert" method="post" id="entry_form">
    Meeiro:<br>
    <select name="meeiro_id" class="selectpicker">
        {% for m in meeiros %}
          <option value= '{{ m.id }}'>{{m.name}}</option>
        {% endfor %}
    </select>
    <br>
    Data:<br>
    <input type="text" name="entry_date">
    <br>
    Tipo:<br>
    <select name="entry_type_id" class="selectpicker">
        {% for t in types %}
          <option value= '{{ t.id }}'>{{t.name}}</option>
        {% endfor %}
    </select>
    <br>
    Valor:<br>
    <input type="text" name="entry_value">
    <br>
    Descrição:<br>
    <textarea class="form-control rounded-0"
              name="description" rows="3">
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</pre>